<div class="students-container">
  <h1>Lista de Estudiantes</h1>

  <table mat-table [dataSource]="students" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Nro.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">
        {{ element.firstName | titlecase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Apellido</th>
      <td mat-cell *matCellDef="let element">
        {{ element.lastName | titlecase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Edad</th>
      <td mat-cell *matCellDef="let element">
        {{ element.age }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="onEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          color="accent"
          [routerLink]="['/dashboard/students', element.id]"
        >
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="studentForm"
    class="form-container"
  >
    <mat-form-field class="form-field">
      <mat-label>Nombre</mat-label>
      <input formControlName="firstName" matInput />
      <mat-error *ngIf="studentForm.get('firstName')?.hasError('required')">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Apellido</mat-label>
      <input formControlName="lastName" matInput />
      <mat-error *ngIf="studentForm.get('lastName')?.hasError('required')">
        El apellido es obligatorio.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Edad</mat-label>
      <input formControlName="age" matInput type="number" />
      <mat-error *ngIf="studentForm.get('age')?.hasError('required')">
        La edad es obligatoria.
      </mat-error>
    </mat-form-field>
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="studentForm.invalid"
    >
      {{ editingStudentId !== null ? "Actualizar" : "Guardar" }}
    </button>
  </form>
</div>
