<mat-spinner *ngIf="isLoading$ | async; else notLoadingTemplate" />

<ng-template #notLoadingTemplate>
  <ng-container *ngIf="error$ | async; else successTemplate">
    <p>Ocurrio un error inesperado</p>
  </ng-container>
</ng-template>

<ng-template #successTemplate>
  <form
    [formGroup]="enrollmentForm"
    (ngSubmit)="onSubmit()"
    class="grid formgrid w-12"
  >
    <div class="col-6">
      <mat-form-field class="w-full">
        <mat-label>Estudiante</mat-label>
        <mat-select formControlName="studentId">
          <mat-option [value]="student.id" *ngFor="let student of students">
            {{ student.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-full">
        <mat-label>Curso</mat-label>
        <mat-select formControlName="courseId">
          <mat-option [value]="course.id" *ngFor="let course of courses">
            {{ course.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 flex justify-content-end">
      <button type="submit" mat-flat-button>Guardar</button>
    </div>
  </form>

  <button (click)="createEnrollment()">Crear inscripcion</button>
  <pre>{{ enrollments$ | async | json }}</pre>
</ng-template>
